# Ignore Python virtual environment
venv/
__pycache__/
*.pyc

# Ignore Node.js dependencies
node_modules/
build/

# Ignore environment variables
.env

# Ignore IDE files
.vscode/
.idea/

# Ignore log files
*.log
logs/

# Ignore macOS files
.DS_Store

# Ignore Windows files
Thumbs.db

# Ignore compiled output
dist/
